[submodule "Universal_Robots_ROS_Driver"]
	path = Universal_Robots_ROS_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS_Driver.git
[submodule "agx_sdk"]
	path = agx_sdk
	url = https://github.com/agilexrobotics/agx_sdk.git
	branch = scout_v2
[submodule "scout_ros"]
	path = scout_ros
	url = https://github.com/agilexrobotics/scout_ros.git
	branch = scout_v2
[submodule "universal_robot"]
	path = universal_robot
	url = https://github.com/ros-industrial/universal_robot.git
[submodule "robotiq"]
	path = robotiq
	url = https://github.com/ros-industrial/robotiq.git
[submodule "ros_canopen"]
	path = ros_canopen
	url = https://github.com/ros-industrial/ros_canopen.git
	branch = kinetic-devel
