<?xml version="1.0"?>

<robot name="joinedrobot" 
  xmlns:xacro="http://wiki.ros.org/xacro">


    <!-- include xacro file containing a link where you want to attach the manipulator -->
    <xacro:include filename="$(find joined_scout_ur5e)/urdf/scout_v2.xacro"/>
    <!-- <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" /> -->
    <!-- ur5e -->
    <xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro" />
    <!-- arm -->
    <xacro:arg name="kinematics_config" default="$(find ur_e_description)/config/ur5e_default.yaml"/>
    <xacro:ur5e_robot prefix="" joint_limited="true"
    kinematics_file="${load_yaml('$(arg kinematics_config)')}"
    />

    <link name="world"/>
    <joint name="world_joint" type="fixed">
        <parent link="world"/>
        <child link="scout_base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <joint name="joined_joint" type="fixed">
        <parent link="scout_base_link"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.13" rpy="0 0 0" />
    </joint>


    
    
</robot>
